/* selects the image with a class of kitty-1 */
.kitty-1{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* selects the image with an id of kitty-2 */
#kitty-2 {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: rotate(-15deg);
  z-index: 1;
}

/* selects the image inside the element with an id of basket (via descendent relationship) */
#basket img {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* selects the image based on the respective sibling element */
#ball + img {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: rotate(25deg);
  z-index: 1;
}

/* Selects the image that has an alt attribute value matching "Kitty 5", via the attribute selector */
img[alt="Kitty 5"] {
  position: absolute;
  top: 5%;
  left: 10%;
  transform: rotate(10deg);
  z-index: 1;
}
